<% layout("/layout/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="alert alert-danger col-6 offset-3" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <!-- <p><%= err.stack%></p>  -->
                <!-- defining the all the details of error like where error is start and where it end -->
            </div>
        </div>
    </body>